/* .skill-icons {
    width: 80%; 
    height: auto; 
    display: flex;
    flex-wrap: wrap; 
    margin: none!important; 
}

.skill-icon {
    height: 100px; 
    width: 100px; 
}

.icon-img {
    width: 100px; 
} */

.skill-main {
    background-color: #202020; 
}

.skill-main h1 {
    color: white; 
}

.project-line {
    margin-bottom: 60px; 
}