html {
    scroll-behavior: smooth; 
}

.navbar-tabs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

.skill-main {
    background-color: #202020; 
}

.skill-main h1 {
    color: white; 
}

.project-line {
    margin-bottom: 60px; 
}

.col-sm-10 {
    margin-left: 0px; 
    width: 100%; 
}


