html {
    scroll-behavior: smooth; 
}

.navbar-tabs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

.skill-main {
    background-color: #202020; 
}

.skill-main h1 {
    color: white; 
}

.project-line {
    margin-bottom: 60px; 
}

.col-sm-10 {
    margin-left: 0px; 
    width: 100%; 
}

.contact-footer h1 {
    color: #f5f5f5; 
}

.contact-footer {
    color: #f5f5f5; 
}


.skill-grid figure img {
    width: 150px;
    height: 150px; 
}

.skill-grid figcaption {
    width: 150px;
    height: 150px;
}